article, aside, details, summary, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, s, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {border: 0 none;margin: 0;outline: 0 none;padding: 0;}
* {word-break: break-all;}
body, html {color:#444; font:14px/1.5 arial,"微软雅黑","Microsoft Yahei","Hiragino Sans GB",sans-seri; _background-image:url(about:blank); _background-attachment:fixed;/** 防止 ie6 抖动 **/}
input { margin: 0;padding: 0;vertical-align:middle;font-size:14px; font-family:"微软雅黑","Microsoft Yahei","Hiragino Sans GB",sans-seri; outline:none;}
textarea{font-family:"微软雅黑","Microsoft YaHei",Arial;font-size:14px; outline:none;}
select{cursor: pointer; vertical-align: middle; font-family:"微软雅黑","Microsoft YaHei",Arial; padding:0; margin:0; outline:none;}
option{ padding:0; margin:0; outline:none;}
li {list-style-type: none;}
img {text-align: center; vertical-align: middle;}
address, cite, dfn, em, var { font-style: normal;}
a { text-decoration: none; color:#444; cursor:pointer; transition: all 0.4s; -webkit-transition:all 0.4s; -moz-transition: all 0.4s;}
a:hover { text-decoration: underline;color:#f30;}
img{border:0px;}
.clear{ clear: both; padding: 0; margin: 0; line-height: 0;}

$color_white:#FFF;

.posR{ position: relative;}
.posA{ position: absolute;}
.allBox{ left: 0; top: 0; right:0 ; bottom: 0; margin: auto;}

.login{ 
    background:rgba(0,0,0,.6);
    h3{ text-align: center; font-size: 26px; color: #666; height: 60px; line-height: 60px; margin: 0 0 20px;}
}
.loginNew{background: $color_white;}
.loginBox{ background: $color_white; width: 400px; height: 380px; padding: 20px; border-radius: 5px;  box-shadow:0 3px 5px #4c4c4c;}



.top{
    height:50px; background: rgba(0,0,0,.6);
    .logo{color: $color_white; float: left; height: 50px; font-size:24px; line-height: 50px; font-weight: bold; width: 150px; text-align: center;}
    nav{
        overflow: hidden;
        a{ color: $color_white; height: 50px; line-height: 50px; font-size: 15px; padding: 0 40px; float: left;}
        a:hover{text-decoration: none; background: rgba(255,255,255,.1)}
        a.on{ color: #ffca00; background: rgba(255,255,255,.1); font-weight: bold;}
    }
}

.bottomBox{ top: 50px;}
.leftBox{ 
    right:auto; width: 150px; background:rgba(0,0,0,.1);
    a{display: block; height: 40px; line-height: 40px; text-align: center; border-bottom: 1px solid #d3d3d4;}
    a.on{background: #565656; color: #FFF;}
}
.rightBox{ left: 150px;}